<!-- templates/navbar.html -->
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-white text-lg font-bold">AI Art Gallery</a>

        <ul class="flex space-x-4">
            <li><a href="{% url 'home' %}" class="text-gray-300 hover:text-white">Home</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Gallery</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">About</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Contact</a></li>
            <li><a href="{% url 'liste_reclamations' %}" class="text-gray-300 hover:text-white">Reclamation</a></li>

        </ul>

        <div class="relative flex items-center space-x-6">
            <a href="{% url 'profile' %}" class="text-gray-300 hover:text-white font-bold">Welcome {{ user.username }} </a>

            <!-- Image de profil avec lien vers la page de profil -->
            <a href="" class="flex items-center">
                <img src="{{ user.photo }}" alt="Profile" style="width: 10; height: 10;" class="w-10 h-10 rounded-full border border-white">
            </a>
            <!-- Menu déroulant -->
            <div class="absolute right-0 mt-2 w-32 bg-gray-800 rounded shadow-lg hidden group-hover:block">
                <ul class="py-2">
                    <li>
                        <a href="{% url 'profile' %}" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-300 hover:bg-gray-700">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    /* CSS pour afficher le menu déroulant au survol */
    .relative:hover .hidden {
        display: block;
    }
</style>
