{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Publications</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">

    <style>
        .hero-section {
            background-size: contain;
            /*background-size: cover;*/
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="bg-gray-900 text-gray-800">
    <!-- Inclure la barre de navigation -->
    {% include 'navbar.html' %}
    <div class="mt-3 mb-4 ">
        <a href="{% url 'publication_create'  %}"
                       class="inline-flex float-right px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800 mt-auto">
                       Create 
                    </a>
    </div>
    <div class="container mx-auto mt-2 mb-3 p-8">
        <!-- Grid responsive pour les cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for publication in list_publications %}
                <!-- Card de publication -->
                <div class="bg-white border rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 flex flex-col h-full">
                    <a href="#">
                        <img class="w-full h-49 h-max-49 object-cover" src="{{ publication.image.url }}" alt="{{ publication.titre }}">
                    </a>
                    <div class="p-6 flex flex-col flex-grow">
                        <h2 class="text-2xl font-semibold text-gray-900 mb-3">{{ publication.titre }}</h2>
                        <p class="text-gray-700 mb-4">{{ publication.description }}</p>
                
                        <!-- Button always at the bottom -->
                        <a href="{% url 'publication_details' publication.id %}"
                           class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800 mt-auto">
                           View Details
                        </a>
                    </div>
                </div>
                
                {% empty %}
                    <p class="text-center text-gray-500 col-span-3">Aucune publication disponible.</p>
                {% endfor %}
            </div>
        </div>
</body>
</html>
