

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Publication</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
</head>
<body class="bg-gray-900 ">
    {% include 'navbar.html' %}
    <div class="container mx-auto mb-3 p-8">
        <div class="mx-auto bg-white rounded-lg shadow-md p-8">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="titre" class="block text-sm font-medium text-gray-700">Title</label>
                    <input type="text" required name="titre" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Enter the title">
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                    <textarea required name="description" class="mt-1 text-gray-700 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" placeholder="Enter the description"></textarea>
                </div>
                <div class="mb-4">
                    <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
                    <input type="file" required name="image" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200">
                </div>
                <button type="submit" class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Create</button>
            </form>
        </div>    
    </div>
</body>
</html>
